@media (max-width: 615px) { 
    body {
        width: 100vw;
        height: 100vh;
    

    @import "./base.scss";
    @import"./navbar.scss";
    @import "./home.scss";
    @import"./tasks.scss";
    @import"./task-text.scss";
    @import"./modal.scss";
    @import "./task-manager.scss";
    }
}

* {
    box-sizing: border-box;
    margin: 0px;
    
}

body {
    height: 100vh;
    
}
