
.content-background {
    background-image:
      linear-gradient(45deg, rgb(241, 109, 109) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, rgb(241, 77, 77) 75%),
      linear-gradient(45deg, transparent 75%, #000 75%),
      linear-gradient(45deg, #000 25%, #fff 25%); 
    background-size:100px 100px; 
    background-position:0 0, 0 0, -50px -50px, 50px 50px;
    

    

}




.page-wrapper {
    
    height: 100vh;
    width: 100%;
    opacity: 100%;
    
}


.welcome-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    color: black;
    opacity: 100%;
}

.content-wrapper {
    height: 100vh;
    width: 100%;
    opacity: 100%;
   
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    



    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: lightblue;
        border: 4px solid black;
        width: 500px;
        height: 300px;
        opacity: 100%;
        

        .form-group {
        display: flex;
        justify-content: center;
        }
        
        .button-wrapper {
            width: 100%;
            height: 20px;
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: 10px;
            

            button {
                display: flex;
                justify-content: center;
                width: 60px;
                align-items: center;
                transition: .3s ease-in-out;
                

                &:active {
                    
                    transform: translateY(-1px);
                }
            }
        }
        
    }

    
}